# Database Configuration
DB_SERVER=10.78.130.49
DB_DATABASE=DRH
DB_USER=MED_MEN
DB_PASSWORD=DRH@2023
DB_PORT=1433
DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=true

# Server Configuration
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
